<nav class="grey darken-3">
  <div class="nav-wrapper">
    <a href="#" class="brand-logo">MACBOOK SHOP</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">

      {{#if isHome}}
        <li class="active"><a href="/">Home</a></li>
      {{else}}
        <li><a href="/">Home</a></li>
      {{/if}}

      {{#if isNotebooks}}
        <li class="active"><a href="/notebooks">Notebooks</a></li>
      {{else}}
        <li><a href="/notebooks">Notebooks</a></li>
      {{/if}}

      {{#if isAuth}}

        {{#if isAdd}}
          <li class="active"><a href="/add">Create</a></li>
        {{else}}
          <li><a href="/add">Create</a></li>
        {{/if}}

        {{#if isCard}}
          <li class="active"><a href="/card">Basket</a></li>
        {{else}}
          <li><a href="/card">Basket</a></li>
        {{/if}}

        {{#if isOrder}}
          <li class="active"><a href="/orders">Order</a></li>
        {{else}}
          <li><a href="/orders">Order</a></li>
        {{/if}}

        {{#if isProfile}}
          <li class="active"><a href="/profile">Profile</a></li>
        {{else}}
          <li><a href="/profile">Profile</a></li>
        {{/if}}

        <li><a href="/auth/logout">Log out</a></li>

      {{else}}

        {{#if isLogin}}
          <li class="active"><a href="/auth/login#login">Log in</a></li>
        {{else}}
          <li><a href="/auth/login#login">Log in</a></li>
        {{/if}}

      {{/if}}

    </ul>
  </div>
</nav>