<h4>Add New Notebooks</h4>
{{#if error}}
  <p class="alert">{{error}}</p>
{{/if}}
<form action="/add" method="POST" class="z-depth-4 f_control" novalidate>
  <div class="input-field">
    <input id="title" name="title" type="text" class="validate" required value="{{data.title}}" />
    <label for="title">Notebooks model</label>
    <span class="helper-text" data-error="Enter Notebooks Name"></span>
  </div>
  <div class="input-field">
    <input
      id="price"
      name="price"
      type="number"
      class="validate"
      required
      min="1"
      value="{{data.price}}"
    />
    <label for="price">Price</label>
    <span class="helper-text" data-error="Enter Price"></span>
  </div>
  <div class="input-field">
    <input id="img" name="img" type="text" class="validate" required value="{{data.img}}" />
    <label for="img">URL Image</label>
    <span class="helper-text" data-error="Enter URL Image"></span>
  </div>
  <div class="input-field">
    <input
      id="descr"
      name="descr"
      type="text"
      class="validate"
      required
      value="{{data.descr}}"
    />
    <label for="descr">Description</label>
    <span class="helper-text" data-error="Enter Description"></span>
  </div>
  <button class="btn btn-primary">Add Notebooks</button>
</form>