<h4>Edit Notebook {{notebook.title}}</h4>

<form action="/notebooks/edit" method="POST" class="z-depth-4 f_control">
  <div class="input-field">
    <input
      id="title"
      name="title"
      type="text"
      class="validate"
      required
      value="{{notebook.title}}"
    />
    <label for="title">Notebooks model</label>
    <span class="helper-text" data-error="Enter Notebooks Name"></span>
  </div>
  <div class="input-field">
    <input
      id="price"
      name="price"
      type="number"
      class="validate"
      required
      min="1"
      value="{{notebook.price}}"
    />
    <label for="price">Price</label>
    <span class="helper-text" data-error="Enter Price"></span>
  </div>
  <div class="input-field">
    <input
      id="img"
      name="img"
      type="text"
      class="validate"
      required
      value="{{notebook.img}}"
    />
    <label for="img">URL Image</label>
    <span class="helper-text" data-error="Enter URL Image"></span>
  </div>
  <div class="input-field">
    <input
      id="descr"
      name="descr"
      required
      class="materialize-textarea"
      value="{{notebook.descr}}"
    />
    <span class="helper-text" data-error="Enter Description"></span>
  </div>
  <input type="hidden" name="id" value="{{notebook.id}}" />
  <button class="btn btn-primary">Edit Notebook</button>
</form>

<form action="/notebooks/remove" method="POST">
  <input type="hidden" name="id" value="{{notebook.id}}" />
  <button class="btn red mt-2">Remove Notebook</button>
</form>